@{
    ViewBag.Title = "About";
}

<h2>Application information</h2>
<br />
<h3>Application purpose</h3>
<p>
    The application is designed to simulate Sg132S-2A induction motor behavior. Connected with inverter, controlled via
    pulse width modulation, application can provide e-learning replacement for a laboratory soft-start trials of an induction motor drive.
    <br />
    <br />
    <h2>User guide</h2>
    <br />
    In "Waveforms" tab, enter proper parameters and click "Show waveforms" button, to see waveforms of currents, voltage
    and velocity of Sg132S-2A engine.
    <br />
    <br />
    Parameters description:
    <br />
    <br />
    Uuv rms [V] - Root mean square voltage between "u" and "v" power supply phase.
    <br />
    <br />
    Uuv rms [V] - Root mean square voltage between "v" and "w" power supply  phase.
    <br />
    <br />
    Uwu rms [V] - Root mean square voltage between "w" and "u" power supply phase.
    <br />
    <br />
    Phase shift [deg] - phase shift counted from zero in degrees.
    <br />
    <br />
    Inverter initial frequency [Hz] - Starting frequency of the inverter.
    <br />
    <br />
    Inverter final frequency [Hz] - Final frequency of the inverter.
    <br />
    <br />
    Moment of inertia [kg*m*m] - rotational inertia, of a rigid body is a quantity
    that determines the torque needed for a desired angular acceleration about a rotational axis.
    <br />
    <br />
    Damping coefficient [N*m*s/rad]: - External damping is an influence within or upon an oscillatory
    system that has the effect of reducing, restricting or preventing its oscillations.
    <br />
    <br />
    Soft start time [s]: - Soft start time at which engine starts in seconds.
    <br />
    <br />
    Simulation time [s]: - Overall simulation time in seconds.
    <br />
    <br />
    Scalar control (V/f) slope ratio [-] - Voltage to frequency ratio. User value should oscillate near 1.0.
</p>
